In [7]:
import numpy as np
import pandas as pd

# Исходный Data Frame

In [8]:
path = './_data.csv'
df = pd.read_csv(path)
df.head()

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

# Преобразование названий колонок

In [9]:
df.columns = ['Serial_number', 'Announcement ID', 'Number_of_rooms', 'Type', 'Metro', 'Address', 'Area,m2', 'Building_info', 'Parking', 'Price', 'Phone_number', 'Description', 'Interior_finishing',
              'area_of_rooms_m2', 'Balcony', 'Windows', 'Bathroom', 'Children/pets_allowed', 'Additionally', 'Name_of_the_residential_complex', 'Home_series', 'Ceiling_height_m', 'Elevator', 'Garbage_chute', 'Link_to_ad']

In [10]:
df.head(5)

,Serial_number,Announcement ID,Number_of_rooms,Type,Metro,Address,"Area,m2",Building_info,Parking,Price,...,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

# Избавляемся от пропусков

In [12]:
df['Price'] = df['Price'].str.split(' ').str[0]
df['Area,m2'] = df['Area,m2'].str.split('/').str[0]
df['Number_of_rooms'] = df['Number_of_rooms'].str.split(',').str[0]
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Area,m2'] = pd.to_numeric(df['Area,m2'], errors='coerce')
df['Number_of_rooms'] = pd.to_numeric(df['Number_of_rooms'], errors='coerce')
df.head()

,Serial_number,Announcement ID,Number_of_rooms,Type,Metro,Address,"Area,m2",Building_info,Parking,Price,...,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad
0,0,271271157,4.0,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,500000.0,...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4.0,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,500000.0,...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,4.0,Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0,5/16,подземная,500000.0,...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,4.0,Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0,5/6,подземная,400000.0,...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2.0,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0,"12/26, Панельный",NaN,225000.0,...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [13]:
# Заолним пропуски в колонке Number_of_rooms средним значением
df['Number_of_rooms'] = df['Number_of_rooms'].fillna(int(df['Number_of_rooms'].mean()))

In [14]:
# Обрабатываем колонку area_of_rooms_m2
# Заменим чёрточки и плюсики в столбцах
df['area_of_rooms_m2'] = df['area_of_rooms_m2'].str.replace('-', ' ').str.replace('+', ' ').str.split(' ')
df['area_of_rooms_m2']

0                       NaN
1          [25, 25, 20, 25]
2                       NaN
3          [14, 42, 20, 19]
4                  [20, 18]
                ...
23363                   NaN
23364                   NaN
23365                   NaN
23366                   NaN
23367    [26,2, 15,5, 22,0]
Name: area_of_rooms_m2, Length: 23368, dtype: object

In [16]:
# Напишем функцию котоая вернёт сумму площадей комнат и пропуск там где пропуск
def sum_areas(val):
    if val is None:
        return None  
    if isinstance(val, str):
        return float(val) if val.isdigit() else None  
    elif isinstance(val, list):
        return sum(float(x) for x in val if x.isdigit())  
    return None

In [17]:
df['area_of_rooms_m2'] = df['area_of_rooms_m2'].apply(sum_areas)

In [18]:
# Проверим на выбросы
df['area_of_rooms_m2'].max()

np.float64(79060990004.0)

In [19]:
# Избавимся от выбросов, на место выбросов вернём NaN

df.loc[(df.area_of_rooms_m2 < 10) | (df.area_of_rooms_m2 > 1000), 'area_of_rooms_m2'] = np.nan

In [20]:
df['area_of_rooms_m2'].max()

np.float64(490.0)

In [21]:
df['area_of_rooms_m2'] = df['area_of_rooms_m2'].fillna(int(df['area_of_rooms_m2'].mean()))

In [22]:
# Обработаем колонку Ceiling height_m
# Проверим её на выбросы
df['Ceiling_height_m'].max()

np.float64(320.0)

In [23]:
# Избавимся от выбросов

df.loc[(df.Ceiling_height_m < 1.5) | (df.Ceiling_height_m > 4), 'Ceiling_height_m'] = np.nan

In [24]:
df['Ceiling_height_m'].max()

np.float64(4.0)

In [25]:
# Заполним пропуски средним
df['Ceiling_height_m'] = df['Ceiling_height_m'].fillna(int(df['Ceiling_height_m'].mean()))

In [26]:
# Заполним пропуски в категориальных признаках модой
df['Metro'] = df['Metro'].fillna(df['Metro'].mode()[0])
df['Parking'] = df['Parking'].fillna(df['Parking'].mode()[0])
df['Interior_finishing'] = df['Interior_finishing'].fillna(df['Interior_finishing'].mode()[0])
df['Balcony'] = df['Balcony'].fillna(df['Balcony'].mode()[0])
df['Windows'] = df['Windows'].fillna(df['Windows'].mode()[0])
df['Bathroom'] = df['Bathroom'].fillna(df['Bathroom'].mode()[0])
df['Children/pets_allowed'] = df['Children/pets_allowed'].fillna(df['Children/pets_allowed'].mode()[0])
df['Additionally'] = df['Additionally'].fillna(df['Additionally'].mode()[0])
df['Elevator'] = df['Elevator'].fillna(df['Elevator'].mode()[0])
df['Garbage_chute'] = df['Garbage_chute'].fillna(df['Garbage_chute'].mode()[0])
df['Name_of_the_residential_complex'] = df['Name_of_the_residential_complex'].fillna(df['Name_of_the_residential_complex'].mode()[0])
df['Home_series'] = df['Home_series'].fillna(df['Home_series'].mode()[0])
df['Link_to_ad'] = df['Link_to_ad'].fillna(df['Link_to_ad'].mode()[0])

In [27]:
df.head(5)

,Serial_number,Announcement ID,Number_of_rooms,Type,Metro,Address,"Area,m2",Building_info,Parking,Price,...,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad
0,0,271271157,4.0,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,500000.0,...,Во двор,Совмещенный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",индивидуальный проект,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4.0,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,500000.0,...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,индивидуальный проект,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,4.0,Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0,5/16,подземная,500000.0,...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,индивидуальный проект,3.2,Пасс (1),Да,https://www.cian.ru/rent/flat/271173086
3,3,272197456,4.0,Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0,5/6,подземная,400000.0,...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Символ, 2019",индивидуальный проект,3.2,Пасс (1),Да,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2.0,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0,"12/26, Панельный",наземная,225000.0,...,На улицу и двор,Совмещенный (2),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,индивидуальный проект,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [28]:
part_1_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Serial_number                    23368 non-null  int64
 1   Announcement ID                  23368 non-null  int64
 2   Number_of_rooms                  22327 non-null  float64
 3   Type                             23368 non-null  object
 4   Metro                            22053 non-null  object
 5   Address                          23368 non-null  object
 6   Area,m2                          23368 non-null  float64
 7   Building_info                    23368 non-null  object
 8   Parking                          9951 non-null   object
 9   Price                            23368 non-null  float64
 10  Phone_number                     23368 non-null  object
 11  Description                      23368 non-null  object
 12  Interior_finishing               20613 non-null  object
 13  area_of_rooms_m2                 14458 non-null  object
 14  Balcony                          15390 non-null  object
 15  Windows                          16755 non-null  object
 16  Bathroom                         20696 non-null  object
 17  Children/pets_allowed            17272 non-null  object
 18  Additionally                     23011 non-null  object
 19  Name_of_the_residential_complex  5848 non-null   object
 20  Home_series                      2163 non-null   object
 21  Ceiling_height_m                 11206 non-null  float64
 22  Elevator                         17868 non-null  object
 23  Garbage_chute                    12846 non-null  object
 24  Link_to_ad                       23368 non-null  object
dtypes: float64(4), int64(2), object(19)
memory usage: 4.5+ MB

In [29]:
part_1_re.describe()

,Serial_number,Announcement ID,Number_of_rooms,"Area,m2",Price,Ceiling_height_m
count,23368.000000,2.336800e+04,22327.000000,23368.000000,2.336800e+04,11206.00000
mean,11683.500000,2.676265e+08,2.013885,62.819425,8.289414e+04,2.98345
std,6745.904881,1.876862e+07,1.000575,46.699425,1.226962e+05,7.61472
min,0.000000,1.072986e+08,1.000000,7.000000,5.000000e+03,1.20000
25%,5841.750000,2.712663e+08,1.000000,38.000000,3.700000e+04,2.64000
50%,11683.500000,2.739030e+08,2.000000,48.000000,4.950000e+04,2.64000
75%,17525.250000,2.746872e+08,3.000000,70.000000,7.500000e+04,2.80000
max,23367.000000,2.750064e+08,6.000000,811.000000,3.000000e+06,320.00000

In [30]:
part_1_re.describe(include=['object'])

,Type,Metro,Address,Building_info,Parking,Phone_number,Description,Interior_finishing,area_of_rooms_m2,Balcony,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Elevator,Garbage_chute,Link_to_ad
count,23368,22053,23368,23368,9951,23368,23368,20613,14458,15390,16755,20696,17272,23011,5848,2163,17868,12846,23368
unique,1,5866,12850,2565,5,13172,23078,4,3990,18,3,20,3,528,1798,393,34,2,23368
top,Квартира,м. Академическая (10 мин пешком),"Москва, Чапаевский переулок, 3","3/5, Кирпичный",наземная,+79819217172,0,Косметический,20,Балкон (1),Во двор,Совмещенный (1),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...","Символ, 2019",индивидуальный проект,Пасс (1),Да,https://www.cian.ru/rent/flat/274672243
freq,23368,41,63,322,6043,302,108,8499,1620,7428,10870,10078,10134,2896,61,615,5911,10897,1

In [31]:
df.isna().mean()*100

Serial_number                      0.0
Announcement ID                    0.0
Number_of_rooms                    0.0
Type                               0.0
Metro                              0.0
Address                            0.0
Area,m2                            0.0
Building_info                      0.0
Parking                            0.0
Price                              0.0
Phone_number                       0.0
Description                        0.0
Interior_finishing                 0.0
area_of_rooms_m2                   0.0
Balcony                            0.0
Windows                            0.0
Bathroom                           0.0
Children/pets_allowed              0.0
Additionally                       0.0
Name_of_the_residential_complex    0.0
Home_series                        0.0
Ceiling_height_m                   0.0
Elevator                           0.0
Garbage_chute                      0.0
Link_to_ad                         0.0
dtype: float64

In [33]:
df.to_csv('data.csv', index=False, encoding='utf-8')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1911741181.py, line 1)